/*
Theme Name: RNDV
Author: Creative Partner
Version: 1.0
*/

@import "assets/css/bootstrap.min.css";

@font-face {
    font-family: 'SF UI Text';
    font-display: swap;
    src: url('assets/fonts/SF-UI-Text-Regular.eot');
    src: url('assets/fonts/SF-UI-Text-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SF-UI-Text-Regular.woff2') format('woff2'),
    url('assets/fonts/SF-UI-Text-Regular.woff') format('woff'),
    url('assets/fonts/SF-UI-Text-Regular.ttf') format('truetype'),
    url('assets/fonts/SF-UI-Text-Regular.otf') format('opentype'),
    url('assets/fonts/SF-UI-Text-Regular.svg') format('svg');
    font-style: normal;
    font-stretch: normal;
}
body {
    background: #0B0C10;
    width: 100%;
    height: 100%;
}
.space {
    background: url('assets/images/header.jpg') 100% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-position: top center;
}
.space-connect {
    content: "";
    background: linear-gradient(180deg, rgba(2, 3, 5, 0) 0%, #020305 100%);
    height: 150px;
    margin-top: -144px;
    width: 100%;
    position: absolute;
}
.logo {
    /*background: url(assets/images/logo.svg) 100% no-repeat;*/
    height: 70vh;
    background-size: 100%;
    margin-top: 5%;
    width: 100%;
    right: 0;
    left: 0;
    position: relative;
    z-index: 99999;
}
.logo svg{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.gradient {
    background: linear-gradient(180deg, #5465A6 0%, #192657 100%);
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.globe-wrapper {
    position: static;
    height: 798px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -294px;
    display: block;
    overflow: hidden;
}

.globe {
    position: relative;
    float: left;
    transform: translate(0, 300px);
    width: 100%;
    z-index: 2;
}
.container {
    max-width: 1280px !important;
}
.language-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    margin: auto;
    max-width: 1280px !important;
    z-index: 999999;
}
.language {
    position: relative;
    float: right;
    z-index: 9999;
    padding: 0;
    margin: 0;
}
.language select {
    display: none;
}
.select-hide {
    display: none;
}
.select-selected:before {
    content: "";
    background: url(assets/images/globe.svg) 100% no-repeat;
    height: 19px;
    width: 20px;
    display: inline-block;
    transform: translate(-10px, 3px);
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 5px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.select-selected .select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 8px;
}
.select-items div, .select-selected {
    color: #ffffff;
    padding: 5px 25px 5px 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.same-as-selected {
    display: none;
}
.select-items div {
    opacity: .5;
    padding-left: 35px;
}
.select-items div:hover {
    opacity: 1;
    background: #a6aaba3d;
}
.select-arrow-active {
    background: #5D6681;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.select-items {
    position: absolute;
    background: #5D6681;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}
.content {
    margin-top: 0;
}
.content .element {
    padding: 35px 0;
    z-index: 99999;
    transition: .65s;
}
.content .element:hover {
    flex: none;
    width: 100%;
    background: linear-gradient(to left,
    rgba(0, 0, 0, 0.35) 20%,
    rgba(161, 161, 161, 0.35) 50%,
    rgba(0, 0, 0, 0.35) 100%);
    background-size: 300% auto;
    background-position: center 2.5em;
    animation: shinelogo 7s linear infinite;
}
.content .element img {
    position: relative;
    float: left;
    margin: 0 70px 20px 0;
    width: 160px;
    max-height: 50px;
}
.content .element p {
    font-family: 'SF UI Text', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #A6AABA;
    float: left;
    position: relative;
    display: block;
    width: 81%;
    margin: 0;
}
.footer-wrapper {
    position: relative;
}
.footer-wrapper .footer {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    font-family: 'SF UI Text', sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #A6AABA;
    z-index: 999;
}
.footer-wrapper .footer p {
    margin: 13px 0 0 0;
    width: max-content;
}
.footer-wrapper .footer a {
    color: #A6AABA !important;
    text-decoration: none !important;
    margin: 0;
    width: max-content;
    display: block;
    padding: 2px 0;
}
.footer-wrapper .footer a:hover {
    color: #FFFFFF !important;
}
.footer-wrapper .footer a:hover i {
    color: #FFFFFF !important;
}

@keyframes animate {
    to { background-position: -100% center; }
}
@keyframes shine {
    to { background-position: 120% center; }
}
@keyframes shinelogo {
    to { background-position: -100% center; }
}

@media only screen and (max-width: 1280px) {
    .content, .footer {
        padding: 10px;
    }
    .content p {
        width: 100%;
    }
    .content .element:hover {
        max-width: 100%;
        margin: 0;
    }
    .globe-wrapper {
        height: 600px;
    }

}
@media only screen and (max-width: 1000px) {
    .globe-wrapper:before {
        margin-top: 200px;
    }
    .globe {
        width: auto;
        transform: translate(-600px, 227px);
    }
    .logo {
        height: 250px;
        margin-top: 10%;
    }
    .language-wrapper {
        top: 40px;
    }
    .content {
        margin-top: 0;
    }
    .space-connect {
        margin-top: -216px;
    }
}
@media only screen and (max-width: 480px) {
    .language-wrapper {
        top: 40px;
    }
    .content {
        margin-top: 0;
    }
    .logo {
        height: 200px;
    }
}